MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=Qlik
MONGO_DB_NAME=QT2F
MICROSOFT_PROVIDER_AUTHENTICATION_SECRET=
WEBSITE_AUTH_AAD_ALLOWED_TENANTS=
API_KEY=
COSMOS_BASE_API=http://127.0.0.1:8008
